name: Build CI
permissions:
  contents: read

on:
  pull_request:
    branches:
    - main
  workflow_dispatch:
  workflow_call:

jobs:
  build-linux:
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Build
        run: |
          curl -L https://github.com/fullstorydev/grpcurl/releases/download/v1.9.3/grpcurl_1.9.3_linux_arm64.tar.gz -o grpcurl.tar.gz
          tar -xzf grpcurl.tar.gz
          sudo mv grpcurl /usr/local/bin/
          curl -Lo cometbft.tgz https://github.com/cometbft/cometbft/releases/download/v1.0.1/cometbft_1.0.1_linux_arm64.tar.gz
          tar xvf cometbft.tgz
          ./cometbft init
          cargo build -r
          cargo test
          cp zcvlib/vote.db .
          ./cometbft start &
          echo "COMETBFT_PID=$!" >> $GITHUB_ENV
          ./target/release/vote-cometbft &
          echo "APP_PID=$!" >> $GITHUB_ENV
          sleep 3
          ./tests/submit_ballots.sh
      - name: Cleanup
        run: |
          kill -9 $COMETBFT_PID
          kill -9 $APP_PID
      - name: Check for ballots
        run: |
          export COUNT=$(sqlite3 vote.db "SELECT COUNT(*) FROM ballots")
          echo $COUNT
          [ "$COUNT" -eq 3 ]
