name: Release
permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    tags:
      - v*

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Build
        run: |
          cargo build --release
      - name: Create Release
        if: startsWith(github.ref_name, 'v')
        uses: softprops/action-gh-release@v2
        with:
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
