name: Run Cluster Tests
permissions:
  contents: read

on:
  pull_request:
    branches:
    - main
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-24.04

    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: Install dependencies
        run: |
          go install github.com/cometbft/cometbft/cmd/cometbft@v0.38
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      - name: Setup cluster
        run: |
          cometbft init node1
          cometbft init node2
