name: Build CI
permissions:
  contents: read

on:
  pull_request:
    branches:
    - main
  workflow_dispatch:
  workflow_call:

jobs:
  build-linux:
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Build
        run: |
          cargo build
          cargo test
