name: Release-plz

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  release-plz-pr:
    name: Release-plz release
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'hhanh00' }}
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: true
          token: ${{ secrets.RELEASE_PLZ_TOKEN }}
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Run release-plz
        uses: release-plz/action@v0.5
        with:
          command: release-pr
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_PLZ_TOKEN }}
